@model IEnumerable<ListProjectViewModel>


<div class="text-center">
    <h1 class="display-4">All Projects</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Town</th>
            <th scope="col">Employee</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <th scope="row">@project.Id</th>
                <td>@project.Name</td>
                <td>@project.Type</td>
                <td>@project.Town</td>
                <td>@project.Employee</td>
                <td>@project.EndDate</td>
                <td>@project.Status</td>
            </tr>             
        }
    </tbody>
</table>