@model ProjectInfoViewModel

@{
    ViewData["Title"] = "Project Info";
}


<div class="text-center">
    <h1 class="item-title">@ViewData["Title"]</h1>
</div>

<div>
    <header>
        <div class="row">
            <div class="col-3">
                <h3>@Model.Name</h3>
            </div>
        </div>
    </header>
</div>
<div>
    <body>
        <div class="row">
            <ul class="col-3">
                <li class="card row-3">
                    <div>
                        <strong>Location:</strong>
                        <span>@Model.Town</span>
                    </div>
                </li>
                <li class="card row-3">
                    <div>
                        <strong>Type:</strong>
                        <span>@Model.Type</span>
                    </div>
                </li>
                <li class="card row-3">
                    <div>
                        <strong>End Date:</strong>
                        <span>@Model.EndDate</span>
                    </div>
                </li>
                <li class="card row-3">
                    <div>
                        <strong>Status:</strong>
                        <span>@Model.Status</span>
                    </div>
                </li>
                <li class="card row-3">
                    <div>
                        <strong>Owner:</strong>
                        <span>@Model.Owner</span>
                    </div>
                </li>
            </ul>
            <div class="col-6">
                <h3>Description:</h3>
                <p>@Model.Description</p>
                @*<a asp-controller="Projects" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>*@
            </div>
            @if (Model.IsOwner == true)
            {
                <div class="col-3">
                    <h3>Notes:</h3>
                    @if (!@Model.Notes.Any())
                    {
                        <h4>No Notes</h4>
                    }
                    else
                    {
                        @foreach (var note in @Model.Notes)
                        {
                            <p>@note.Content</p>
                        }
                    }
                    <div>
                        <a asp-controller="Notes" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary">Add Note</a>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @if (@Model.Owner == "Unassigned")
            {
                <div>
                    <a asp-controller="Owners" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Assign to Me</a>
                </div>
            }
            @if (@Model.IsOwner == true)
            {
                <div>
                    <a asp-controller="Materials" asp-action="All" asp-route-id="@Model.Id" class="btn btn-primary">Materials</a>
                    <a asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Projects" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
                </div>
            }
            <div class="ml-1">
                <a asp-controller="Projects" asp-action="All" class="btn btn-primary">Back</a>
            </div>
        </div>

    </body>
</div>


@*<div class="row">
        <div class="card col-md-6">
            <div class="card-body">
                <h3 class="card-title">Project name: @Model.Name</h3>
                <p class="card-text">Place for Description section....</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Location: @Model.Town</li>
                <li class="list-group-item">End Date: @Model.EndDate</li>
                <li class="list-group-item">Status : @Model.Status</li>
            </ul>
            <div class="card-body">
                <a asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Id" class="card-link">Edit</a>
                <a asp-controller="Projects" asp-action="Delete" asp-route-id="@Model.Id" class="card-link">Delete</a>
            </div>
        </div>
        <div class="card col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>*@




